* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header navbar y carrusel */
.navbar {
    a {
        color: #fff;
    }
    .icono {
        img {
            width: 30px;
        }
    }
}

.bg-main {
    background-color: #111;
    color: #fff;
}

.card {
    border: none;
}

.arrow {
    position: relative;
    .arrow-img {
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        z-index: 1001;
    }
}

.carousel {
    height: 100vh;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 1000;
        background: linear-gradient(to top, #111, transparent);
    }
    img {
        height: 100vh;
        object-fit: cover;
    }
    .arrow {
        img {
            // width: 50px;
            // height: 50px;
            // background: #fff;
            // border-radius: 50%;
            position: absolute;
            top: -120px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

/* About */
.about {
    height: 100vh;
    background-color: #111;
    color: #fff;
    .card {
        :is(.card-header, .card-footer) {
            background-color: #0dcaf0;
        }
        i {
            color: #fff;
        }
    }
}

.destacados {
    height: 100vh;
    .card {
        background-color: #0dcaf0;
        color: #fff;
        .card-header {
            max-height: 200px;
            overflow: hidden;
        }
        .card-title {
            min-height: 50px;
        }
    }
}

:is(.about, .destacados){
    .arrow-img {
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        margin: auto;
    }
}

.contacto {
    height: 100vh;
}

/* Footer */
footer {
    background-color: #0dcaf0;
    h2 {
        color: #fff;
        font-size: 1.5rem;
    }
    .box-redes {
        ul{
            list-style: none;
            li {
                transition: all 0.5s ease;
                i {
                    color: #fff;
                    font-size: 1.25rem;
                }
                &:hover {
                    transform: translateY(-10px);
                }
            }
        }
    }
}
@media (300px <= width <= 768px) {

    .arrow {
        display: none;
    }
    .carousel {
        height: auto;
        .carousel-item {
            img {
                height: auto;
            }
        }
    }
    :is(.about, .destacados, .contacto) {
        height: auto;
    }
}