* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    a {
        color: #fff;
    }
    .icono {
        img {
            width: 30px;
        }
    }
}

.carousel {
    height: 100vh;
    img {
        height: 100vh;
        object-fit: cover;
    }
    .arrow {
        position: relative;
        img {
            width: 50px;
            height: 50px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: -120px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}