$primary-color: #000000;
$secondary-color: #ffffff;
$bg-green: #729E2E;
$bg-green-hover: #445f1b;
$bg-html-card: #e93e30;
$bg-js-card: #f7e018;
$bg-css-card: #299ed5;
$bg-react-card: #292c33;
$bg-vue-card: #67c770;
$bg-bootstrap-card: #563d7c;
$bg-post: #cdcdcd;
$bg-btn-google: #f0f0f0;

