*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  background-color: #111;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(13, 202, 240);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(6, 93, 110);
}

body {
  font-family: "Raleway", sans-serif;
  background: var(--bg-body);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.tooltip {
  transform: translate(550%, 877px) !important;
}

/* Header navbar y carrusel */
.navbar {
  transition: background-color 0.3s;
}
.navbar a {
  color: #fff;
  font-size: clamp(1rem, 2vw + 0.5rem, 1.2rem);
}
.navbar a:hover {
  color: #0dcaf0;
}
.navbar .menu-viajes a {
  padding-bottom: 0;
}
.navbar .menu-viajes a:hover {
  border-bottom: 1px solid #0dcaf0;
}
.navbar .icono img {
  width: 30px;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Color de fondo deseado */
}

.bg-main {
  background-color: #111;
  color: #fff;
}

.card {
  border: none;
}

.arrow {
  position: relative;
}
.arrow .arrow-img {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  z-index: 1001;
}

.carousel {
  height: 100vh;
  position: relative;
}
.carousel::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1000;
  background: linear-gradient(to top, #111, transparent);
}
.carousel img {
  height: 100vh;
  object-fit: cover;
}
.carousel .arrow img {
  position: absolute;
  top: -120px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* About */
.about {
  height: 100vh;
  background-color: #111;
  color: #fff;
}
.about .card :is(.card-header, .card-footer) {
  background-color: #0dcaf0;
}
.about .card i {
  color: #fff;
}

.destacados {
  height: 100vh;
}
.destacados .card {
  background-color: #0dcaf0;
  color: #fff;
}
.destacados .card .card-header {
  max-height: 200px;
  overflow: hidden;
}
.destacados .card .card-title {
  min-height: 50px;
}
.destacados .destacados-card:hover .card {
  opacity: 0.2;
}
.destacados .destacados-card .card {
  transition: 0.5s;
  overflow: hidden;
}
.destacados .destacados-card .card:hover {
  opacity: 1;
  cursor: pointer;
}

:is(.about, .destacados) .arrow-img {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  margin: auto;
}

.contacto {
  height: 100vh;
}

/* Footer */
footer {
  background-color: #0dcaf0;
}
footer h2 {
  color: #fff;
  font-size: 1.5rem;
}
footer .box-redes ul {
  list-style: none;
}
footer .box-redes ul li {
  transition: all 0.5s ease;
}
footer .box-redes ul li i {
  color: #fff;
  font-size: 1.25rem;
}
footer .box-redes ul li:hover {
  transform: translateY(-10px);
}

@media (300px <= width <= 768px) {
  .arrow {
    display: none;
  }
  .carousel {
    height: auto;
  }
  .carousel .carousel-item img {
    height: auto;
  }
  :is(.destacados, .contacto) {
    height: auto;
  }
  .about {
    display: none;
  }
}
@media (1024px <= width <= 1044px) {
  .tooltip {
    transform: translate(306%, 720px) !important;
  }
}/*# sourceMappingURL=style.css.map */