.testimonios {
    width: 100%;
}
.testimonios__title {
    text-align: center;
    padding: 3rem 0;
}
.testimonios__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.testimonios__box {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textimonios__text {
    color: $secondary-color;
    text-align: center;
}
.testimonios__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.testimonios__name {
    color: $secondary-color;
    padding: 10px 0;
}